RANDOM_SEED : 1.0

SESSION_CONFIG : {
  PER_PROCESS_GPU_MEMORY_FRACTION : 0.9
}

# The maximum number of bounding boxes in a single image
MAX_NUM_BBOXES : 13
LOCATION_LOSS_ALPHA : 1000.0

# Image Processing 
INPUT_SIZE : 299
IMAGE_MEAN : 128
IMAGE_STD : 128
MAINTAIN_ASPECT_RATIO : false
AUGMENT_IMAGE : true
RANDOM_FLIP : true
RANDOM_BBOX_SHIFT : true
MAX_BBOX_COORD_SHIFT : 5.0
RANDOM_CROP : true


# Input queues to the model
NUM_INPUT_THREADS : 4
BATCH_SIZE : 4

NUM_TRAIN_EXAMPLES : 1000
NUM_TRAIN_ITERATIONS : 75000

# Learning Rate parameters
INITIAL_LEARNING_RATE : 0.1
NUM_EPOCHS_PER_DELAY : 30
LEARNING_RATE_DECAY_FACTOR : 0.16
LEARNING_RATE_STAIRCASE : true

RMSPROP_DECAY : 0.9
RMSPROP_MOMENTUM : 0.9
RMSPROP_EPSILON : 1.0


# Capacity of the queue producing batched examples
QUEUE_CAPACITY : 100
# Minimum size of the queue to ensure good shuffling
QUEUE_MIN :  10


# Batch normalization. Constant governing the exponential moving average of
# the 'global' mean and variance for all activations.
BATCHNORM_MOVING_AVERAGE_DECAY : 0.9997

# The decay to use for the moving average.
MOVING_AVERAGE_DECAY : 0.9999


# Saving models and summaries

# How often, in seconds, to save summaries.
SAVE_SUMMARY_SECS : 30

# How often, in seconds, to save the model
SAVE_INTERVAL_SECS : 1800

# The maximum number of recent checkpoint files to keep.
MAX_TO_KEEP : 3

# In addition to keeping the most recent `max_to_keep` checkpoint files, 
# you might want to keep one checkpoint file for every N hours of training
# The default value of 10,000 hours effectively disables the feature.
KEEP_CHECKPOINT_EVERY_N_HOURS : 10000