RANDOM_SEED : 1.0

SESSION_CONFIG : {
  PER_PROCESS_GPU_MEMORY_FRACTION : 0.95
}

NUM_BBOXES_PER_CELL : 7

# The maximum number of bounding boxes in a single image
MAX_NUM_BBOXES : 13
LOCATION_LOSS_ALPHA : 1000.0

###################
# Image Processing and Augmentation 

# The image will be resized to [INPUT_SIZE, INPUT_SIZE, 3]
INPUT_SIZE : 299

# Should the image be augmented? 
AUGMENT_IMAGE : true

# Randomly flip the image left right, 50% chance of flipping
DO_RANDOM_FLIP_LEFT_RIGHT : true

# Randomly perturb the coordinates of the bounding boxes
# The fraction of time to do the shift, 0 is never, 1 is always
DO_RANDOM_BBOX_SHIFT : 0.5 
# The maximum number of pixels to shift the coordinates
RANDOM_BBOX_SHIFT_EXTENT : 8 

# Take a random crop from the image
# The fraction of time to do the crop, 0 is never, 1 is always
DO_RANDOM_CROP : 0.5 
# The cropped area of the image must contain at least this fraction of ANY bounding box supplied (note ANY != EACH)
RANDOM_CROP_MIN_OBJECT_COVERED : 0.7
# The cropped area of the image must have an aspect ratio = width / height within this range.
RANDOM_CROP_ASPECT_RATIO_RANGE : [0.7, 1.4]
# The cropped area of the image must contain a fraction of the supplied image within in this range.
RANDOM_CROP_AREA_RANGE : [0.5, 1.0]
# After max_attempts failures, return the entire image.
RANDOM_CROP_MAX_ATTEMPTS : 100
# If a bounding box goes below this amount of area, then we will ignore it
RANDOM_CROP_MINIMUM_AREA : 50

# Color distortion
# The fraction of time to distort the color, 0 is never, 1 is always
DO_COLOR_DISTORTION : 0.3 
# Avoids slower ops (random_hue and random_contrast)
COLOR_DISTORT_FAST : False

# END: Image Processing and Augmentation
###################


# Input queues to the model
NUM_INPUT_THREADS : 8
BATCH_SIZE : 32

# 77544 39935
NUM_TRAIN_EXAMPLES : 56945
NUM_TRAIN_ITERATIONS : 300000

# Learning Rate parameters
INITIAL_LEARNING_RATE : 0.01
NUM_EPOCHS_PER_DELAY : 4
LEARNING_RATE_DECAY_FACTOR : 0.94
LEARNING_RATE_STAIRCASE : true

RMSPROP_DECAY : 0.9
RMSPROP_MOMENTUM : 0
RMSPROP_EPSILON : 1.0


# Capacity of the queue producing batched examples
QUEUE_CAPACITY : 2000
# Minimum size of the queue to ensure good shuffling
QUEUE_MIN :  500


# Batch normalization. Constant governing the exponential moving average of
# the 'global' mean and variance for all activations.
BATCHNORM_MOVING_AVERAGE_DECAY : 0.9997

# The decay to use for the moving average.
MOVING_AVERAGE_DECAY : 0.9999


# Saving models and summaries

# How often, in seconds, to save summaries.
SAVE_SUMMARY_SECS : 30

# How often, in seconds, to save the model
SAVE_INTERVAL_SECS : 3600

# The maximum number of recent checkpoint files to keep.
MAX_TO_KEEP : 3

# In addition to keeping the most recent `max_to_keep` checkpoint files, 
# you might want to keep one checkpoint file for every N hours of training
# The default value of 10,000 hours effectively disables the feature.
KEEP_CHECKPOINT_EVERY_N_HOURS : 24

# The frequency, in terms of global steps, that the loss and global step and logged.
LOG_EVERY_N_STEPS : 10